body {
  background-color: white;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
}

#header ul {
  list-style-type: none;
}

.nav {
  color: white;
  font-size: 18px;
}

#header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#content h2 {
  font-size: 32px;
  font-weight: bold;
}

#content h3 {
  font-size: 23px;
  font-weight: bold;
}

.designed-in-header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
}

.designed-in-header h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

.copyright {
  display: inline;
  font-size: 11px;
  color: white;
}
